.project-gallery-section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.gallery-item {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}

.project-gallery-list-inst-yan {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 200px;
  margin-bottom: 12px;
}

.project-gallery-list-follow {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.project-gallery-list-yan-name {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 12.5px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.text-gallery {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.gallery-text {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 350px;
}

.gallery-item-text {
  display: flex;
  gap: 414px;
}

.list-gallery-top {
  display: flex;
  gap: 24px;
}

.list-gallery-item {
  margin-top: -48px;
  display: flex;
  gap: 24px;
  margin-left: 580px;
}

.list-gallery-item li:last-child {
  margin-left: 291px;
}

.gallery-img {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.gallery-image-bottom {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.gallery-text-image-button {
  display: flex;
}

.gallery-icon-svg {
  fill: #000;
}

.gallery-text-bottom {
  margin-left: 170px;
  margin-top: -200px;
  width: 412px;
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-gallery-text {
  margin-top: 150px;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  margin-left: 320px;
}

@media screen and (min-width: 1600px) and (max-width: 1720px) {
  .list-gallery-top img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-item img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .list-gallery-item {
    gap: 16px;
    margin-top: -80px;
  }
  .list-gallery-item {
    margin-bottom: 20px;
    margin-left: 488px;
  }
  .list-gallery-item li:last-child {
    margin-left: 240px;
  }
  .gallery-img img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .gallery-img {
    gap: 16px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .gallery-image-bottom img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .gallery-image-bottom {
    margin-left: 14px;
    gap: 16px;
  }
  .gallery-item-text {
    gap: 270px;
  }
  .gallery-text {
    width: 397px;
  }
  .gallery-text-bottom {
    margin-left: 34px;
  }
  .button-gallery-text {
    margin-left: 160px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .list-gallery-top img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-item img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .list-gallery-item {
    gap: 16px;
  }
  .list-gallery-item {
    margin-top: -74px;
    margin-left: 418px;
  }
  .list-gallery-item li:last-child {
    margin-left: 210px;
  }
  .gallery-img img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .gallery-img {
    gap: 16px;
    margin-top: 16px;
  }
  .gallery-image-bottom img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .gallery-image-bottom {
    gap: 16px;
  }
  .gallery-item-text {
    gap: 170px;
  }
  .gallery-text {
    width: 297px;
    font-size: 15px;
  }
  .gallery-text-bottom {
    margin-left: 100px;
    font-size: 15px;
    margin-top: -140px;
    width: 309px;
  }
  .button-gallery-text {
    margin-left: 160px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .project-gallery-section {
    padding: 0 62px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-gallery-top img,
  .list-gallery-item img,
  .gallery-img img,
  .gallery-image-bottom img {
    width: 166.875px;
    height: 166.875px;
    flex-shrink: 0;
  }
  .project-gallery {
    margin-left: 0;
  }
  .gallery-item-text {
    gap: 282px
  }
  .gallery-text-bottom {
    margin-left: 100px;
    margin-top: -120px;
    width: 257.5px;
    font-size: 12.5px;
  }
  .project-gallery-list-inst-yan {
    margin-left: 0;
  }
  .button-gallery-text {
    margin-top: 60px;
    margin-left: 200px;
    font-size: 15.625px;
    padding: 6.25px 34.375px;
  }
  .gallery-item {
    font-size: 32.5px;
  }
  .text-gallery {
    font-size: 12.5px;
  }
  .gallery-text {
    font-size: 12.5px;
    width: 247.5px;
  }
  .list-gallery-top {
    margin-top: 20px;
  }
  .list-gallery-item {
    margin-top: 0px;
    margin-left: 380px;
  }
  .list-gallery-item li:last-child {
    margin-left: 188px;
  }
}
