.header {
  background-color: black;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.header-item {
  display: flex;
}

.header-svg-icon {
  margin-right: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list-address {
  display: flex;
}

.btn-header {
  margin-right: 164px;
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.address {
  display: flex;
  align-items: center;
}

.list-address {
  gap: 40px;
  align-items: center;
}

.burger-menu {
  display: none;
}

.link-item {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.address-link {
  margin-left: 10px;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.address-link-phone {
  font-weight: 800;
}

.list-address-link {
  display: flex;
  align-items: center;
}

.btn-address {
  margin-left: 40px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .header-svg-icon {
    margin-right: 70px;
  }

  .list {
    gap: 30px;
  }

  .btn-header {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 70px;
  }

  .list-address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    margin-right: 40px;
  }

  .btn-address {
    display: flex;
    width: 122px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1835px) {
  .btn-header {
    margin-right: 76px;
  }
  .list {
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .header {
    padding: 0;
  }
  .link-item,
  .address-link,
  .btn-header,
  .btn-address {
    font-size: 9.375px;
  }
  .list {
    gap: 25px;
  }
  .list-address {
    gap: 25px;
  }
  .header-svg-icon {
    width: 54.107px;
    height: 37.5px;
  }
  .btn-address {
    padding: 6.25px 14.875px;
    margin-left: 15px;
  }
  .btn-header {
    padding: 6.25px 21.875px;
  }
  .btn-header {
    margin-right: 26px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .header {
    padding: 0 16px;
  }
  .burger-menu {
    display: flex;
    align-items: center;
  }
  .nav-item {
    display: none;
  }
  .address-link {
    font-size: 12px;
  }
  .list-address {
    display: flex;
    flex-direction: column;
  }
  .header-svg-icon {
    width: 62px;
    height: 43px;
  }
  .btn-address {
    display: none;
  }
  .list-address {
    align-items: start;
    gap: 10px;
    margin-right: 60px;
  }
  .header-svg-icon {
    margin-right: 46px;
  }
}
