.hero {
  margin-top: -1px;
  background: url("../image/man.png") lightgray 50% / cover no-repeat;
  height: 911px;
}

.hero-text {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 245px;
  padding-top: 197px;
}

.btn-hero {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  margin-left: 245px;
  margin-top: 50px;
}

.footer-hero {
  height: 100px;
  background-color: black;
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-hero {
  display: flex;
  gap: 190px;
}

.num-svg-icon-item {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 5px;
}

.text-svg {
  color: #fff;
  text-transform: uppercase;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-list-item {
  display: flex;
  gap: 10px;
}

.svg-hero {
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 999px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .hero-text {
    font-size: 64px;
    width: 1100px;
  }
  .btn-hero {
    padding: 10px 45px;
  }
  .list-hero {
    gap: 154px;
  }
  .footer-hero {
   margin-top: 300px;
  }
  .svg-hero {
    padding: 17px 17px;
  }
  .num-svg-icon-item {
    font-size: 25px;
  }
  .text-svg {
    font-size: 15px;
  }
}
