.looking-for-a-quality-result-section {
  background: url("../image/ernys-unsplash.png"),
    lightgray 100% / cover no-repeat;
  height: 400px;
  padding: 0 100px;
  flex-shrink: 0;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.looking-for-a-quality-result {
  display: flex;
  flex-direction: column;
}

.text-looking-for-a-quality-result {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  max-width: 1100px;
}

.looking-for-a-quality-result-btn {
  margin-top: 165px;
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.title-looking-for-a-quality-result {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 116px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .text-looking-for-a-quality-result {
    width: 900px;
  }
  .looking-for-a-quality-result-btn {
    display: inline-flex;
    padding: 7.5px 41.25px;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    border-radius: 1.5px;
    background: #ff8300;
    background: color(display-p3 0.9373 0.5412 0.1294);
    color: var(--white, #fff);
    color: var(--white, color(display-p3 1 1 1));
    font-family: Inter;
    font-size: 18.75px;
    font-style: normal;
    font-weight: 800;
    line-height: 37.5px; /* 200% */
    text-transform: capitalize;
    margin-top: 210px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
   .looking-for-a-quality-result-section {
      height: 250px;
      width: 100%;
      background: url("../image/ernys-unsplash.png") 50% / cover;
      display: flex;
      justify-content: center;
      align-items: center;
   }
  .title-looking-for-a-quality-result {
   margin: 0;
   padding: 0;
    font-size: 30px;
  }
  .text-looking-for-a-quality-result {
    font-size: 12.5px;
    width: 742.5px;
  }
  .looking-for-a-quality-result-btn {
   margin-top: 40px;
    padding: 6.25px 34.375px;
    font-size: 15.625px;
    margin-left: 24px;
  }
}
