.request-a-free-quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  width: 100%;
  height: 416px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.request-a-free-quote {
  margin: 66px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-request-a-free-quote {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.text-request-a-free-quote {
  color: #000;
  color: color(display-p3 0 0 0);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1430px;
  margin-bottom: 55px;
}

.buttons-request-a-free-quote {
  display: flex;
  gap: 50px;
}

.button-request-a-free-quote {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: flex;
  width: 267px;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #000;
  background: color(display-p3 0 0 0);
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .request-a-free-quote-section {
    height: 260px;
  }
  .request-a-free-quote-section {
    margin-top: 0;
  }
  .title-request-a-free-quote {
    font-size: 32.5px;
  }
  .text-request-a-free-quote {
    font-size: 12.5px;
    width: 893.75px;
    margin-bottom: 34px;
  }
  .button-request-a-free-quote {
    font-size: 15.625px;
    padding: 6.25px 34.375px;
  }
}
