.section-our-goal {
  margin-top: 150px;
  width: 100%;
  height: 210px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title-our-goal {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: "Neue Machina";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text-our-goal {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .section-our-goal {
    height: 130px;
    margin-top: 100px;
  }
  .title-our-goal {
    font-size: 30px;
  }
  .text-our-goal {
    font-size: 12.5px;
  }
}
