.why-would-you-choose-us-section {
  margin-top: 405px;
  display: flex;
}

.why-would-you-choose-us {
  margin: 0 auto;
}

.title-why-would-you-choose-us {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}

.text-why-would-you-choose-us {
  width: 655px;
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-text-team-photo {
  display: flex;
  align-items: center;
}

.why-would-you-choose-us-photo {
  position: relative;
  margin-left: 500px;
}

.why-would-you-choose-us-photo-team {
  position: absolute;
  bottom: -130px;
  left: 0;
}

.why-would-you-choose-us-photo-car {
  position: absolute;
  right: -30px;
  top: -10px;
}

.team-photo-why-would-you-choose-us {
  border-radius: 12px;
background: url(<path-to-image>) lightgray 0px -137.981px / 100% 152.866% no-repeat;
}

.team-photo-why-would-you-choose-us {
  flex-shrink: 0;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
}

.team-photo-list {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

.list-team-photo-bottom {
  margin-left: -165px;
  margin-top: 15px;
}

.line-why-would-you-choose-us {
  margin-top: 95px;
  width: 1720px;
  height: 1px;
  flex-shrink: 0;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
}

.svg-icon-circle-arrow-up-solid {
  fill: #ef8a21;
}

.list-why-would-you-choose-us {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 200px;
}

.list-svg-why-would-you-choose-us {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 18px;
}


.title-list-svg-why-would-you-choose-us {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 32.138px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.list-why-would-you-choose-us-title {
  display: flex;
  gap: 16px;
}

.list-why-would-you-choose-us-title li {
  position: relative;
  list-style-type: none;
}

.list-why-would-you-choose-us-title li::before {
  content: "•";
  position: absolute;
  left: -14px;
}

.list-svg-why-would-you-choose-us-arrow {
  display: flex;
  flex-direction: column;
}

.list-why-would-you-choose-us-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 26px;
}

.text-list-why-would-you-choose-us {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .line-why-would-you-choose-us {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-why-would-you-choose-us {
    width: 557px;
  }
  .why-would-you-choose-us-photo {
    margin-left: 600px;
  }
  .car-photo {
    width: 394px;
    height: 159px;
  }
  .team-photo {
    width: 360px;
    height: 177px;
  }
  .why-would-you-choose-us-photo-car {
    right: 100px;
    bottom: 100px;
  }
  .why-would-you-choose-us-photo-team {
    left: -200px;
    top: -140px;
  }
  .line-why-would-you-choose-us {
    display: flex;
    align-items: center;
    width: 1380px;
  }
}
