.looking-for-a-quality-result-section {
  background: url("../image/ernys-unsplash.png"),
    lightgray 100% / cover no-repeat;
  height: 400px;
  flex-shrink: 0;
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

.looking-for-a-quality-result {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-looking-for-a-quality-result {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 116px;
  padding-bottom: 10px;
}

.text-looking-for-a-quality-result {
  color: #fff;
  color: color(display-p3 1 1 1);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1138px;
}

.buttons-looking-for-a-quality-result {
  display: flex;
  gap: 50px;
  margin-top: 64px;
}

.button-looking-for-a-quality-result-get {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: flex;
  width: 267px;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.button-looking-for-a-quality-result-contact {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: flex;
  width: 267px;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .button-looking-for-a-quality-result-get {
    padding: 10px 45px;
  }
  .button-looking-for-a-quality-result-contact {
    padding: 10px 45px;
  }
}
