.our-project-section {
  display: flex;
  justify-content: center;
}

.our-project-text-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-our-project {
  color: #000;
  font-family: "Neue Machina";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  padding-top: 210px;
  margin-bottom: 10px;
}

.text-our-project {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.facebook-svg {
  display: inline-flex;
  height: 38px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.instagram-btn {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.text-our {
  flex: 1;
}

.inst-facebook {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 255px;
}

.gallery-image-our-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.list-image-our-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.list-image-our-projects img {
  max-width: 100%;
}

.btn-arrow-down {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: inline-flex;
  padding: 10px 29px;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #000;
  background: color(display-p3 0 0 0);
}

.btn-our-project {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  width: 267px;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #000;
  background: color(display-p3 0 0 0);
}

.arrow-btn-and-bnt-our {
  display: flex;
  gap: 35px;
}

.btn-our-project-image {
  margin-top: 20px;
  margin-left: auto;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .list-iamge {
    width: 397px;
    height: 334px;
    flex-shrink: 0;
  }
}
