.services-we-provide-section {
  margin-top: 405px;
}

.services-we-provide {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-services-we-provide {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 110px;
}

.text-services-we-provide {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 557px;
  margin-left: 110px;
}

.services-we-provide-list-svg-icon li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services-we-provide-svg-icon {
  fill: #ef8a21;
  margin-bottom: 50px;
}

.services-we-provide-list-svg-icon {
  display: flex;
  justify-content: center;
  gap: 256px;
  position: relative;
  align-items: center;
  text-align: center;
}

.list-text-svg-icon li {
  position: relative;
  list-style-type: none;
}

.list-text-svg-icon li::before {
  content: "•";
  position: absolute;
  left: -18px;
}

.title-text-services-we-provide {
  margin-left: -280px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-list-svg-icon {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 32.138px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 25px;
}

.text-list-svg-icon {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-text-svg-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.title-list-svg-icon {
  display: flex;
  justify-content: center;
}

.buttons-services-we-provide {
  margin-top: 50px;
  display: flex;
  gap: 60px;
}

.line-services-we-provide {
  margin-top: 85px;
  width: 1720px;
  height: 1px;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
}

.button-services-we-provide-get {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.button-services-we-provide-contact {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid #ff8300;
  border: 1px solid color(display-p3 0.9373 0.5412 0.1294);
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .title-text-services-we-provide {
    margin-left: -160px;
  }
  .services-we-provide-list-svg-icon {
    gap: 130px;
  }
  .line-services-we-provide {
    width: 1239px;
    height: 1px;
    flex-shrink: 0;
  }
  .button-services-we-provide-get {
    padding: 10px 45px;
  }
  .button-services-we-provide-contact {
    padding: 10px 45px;
  }
}
